
.root {
    @apply w-6 h-6 m-1 p-1 bg-white flex justify-center items-center 
    rounded;
    @apply hover:bg-gray-100;
    @apply transition-all duration-75;
}

.root.active {
    @apply bg-indigo-100 text-indigo-600;
}

.root:disabled {
    @apply hover:bg-white opacity-40;
}