@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(241, 243, 250);
    color: rgb(25, 32, 55);
}

.btn, .input, .card {
    @apply transition-all duration-200;
    @apply rounded-xl
}

.btn {
    @apply py-2 px-4 text-gray-50 bg-gray-500 border-gray-400
    shadow-md shadow-gray-300;
    @apply hover:bg-gray-600;
    @apply active:scale-95 active:shadow-sm;
}

.btn-primary {
    @apply text-indigo-50 bg-indigo-500 border-indigo-400 shadow-indigo-300;
    @apply hover:bg-indigo-600;
}

.btn-success {
    @apply text-teal-50 bg-teal-500 border-teal-400 shadow-teal-300;
    @apply hover:bg-teal-600;
}

.btn-ghost {
    @apply text-black bg-gray-50 shadow-none;
    @apply hover:bg-gray-200;
}

.input {
    @apply py-1.5 px-2 bg-gray-50 border-2 border-gray-300 outline-none;
    @apply focus:border-gray-500 focus:shadow;
    @apply placeholder:text-gray-300;
}

.input-primary {
    @apply bg-gray-50 border-indigo-100 outline-none;
    @apply focus:border-indigo-500 focus:shadow;
    @apply placeholder:text-indigo-300;
}

.card {
    @apply shadow-md shadow-indigo-100 bg-white;
    @apply hover:shadow-lg hover:shadow-indigo-100 hover:bg-gray-50;
}

.card-body {
    @apply p-4
}

.section {
    @apply mx-auto flex max-w-screen-sm md:max-w-screen-lg items-center px-4 sm:px-6 lg:px-8;
}

.card-image-container {
    @apply bg-gray-50 border rounded-md;
    @apply hover:border-indigo-200;
    @apply transition-all duration-200;
}

.box {
    @apply bg-white rounded-lg overflow-hidden;
}

.resume-editor {
    @apply box border outline-none caret-indigo-500 p-7;
    @apply selection:bg-indigo-200
}

.resume-editor code {
    @apply p-1 text-sm bg-gray-100 rounded text-slate-700
}

.resume-editor p {
    @apply mb-1
}

.resume-editor h1 {
    @apply text-4xl mb-5 font-medium;
}

.resume-editor h2 {
    @apply text-2xl mb-4 font-medium;
}

.resume-editor h3 {
    @apply text-xl mb-3 font-medium;
}

.resume-editor ul {
    @apply list-disc list-inside mb-3;
}

.resume-editor tr {
    @apply bg-indigo-100 border-b;
}

.resume-preview code {
    @apply p-1 text-sm bg-gray-100 rounded text-slate-700
}

.resume-preview p {
    @apply mb-1
}

.resume-preview h1 {
    @apply text-4xl mb-5 font-medium text-indigo-500;
}

.resume-preview h2 {
    @apply text-2xl mb-4 font-medium border-b border-indigo-500;
}

.resume-preview h3 {
    @apply text-xl mb-3 font-medium;
}

.resume-preview ul {
    @apply list-disc list-inside mb-3 mx-4;
}

.resume-preview tr {
    @apply bg-indigo-100 border-b;
}


.icon-checkbox {
    @apply w-6 h-6 m-1 bg-white flex justify-center items-center 
    rounded;
    @apply hover:bg-gray-100;
    @apply transition-all duration-75;
}

.icon-checkbox.active {
    @apply bg-indigo-100 text-indigo-600;
}

.header {
    @apply bg-white opacity-95 backdrop-blur-lg fixed w-full z-50;
}