@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(241, 243, 250);
    color: rgb(25, 32, 55);
}

.btn, .input, .card {
    @apply transition-all duration-200;
    @apply rounded-lg;
}

.btn {
    @apply py-3 px-4 text-gray-50 bg-gray-500 border-gray-400
    shadow-sm shadow-gray-300;
    @apply hover:bg-gray-600;
    @apply active:scale-95;
}

.btn-primary {
    @apply text-indigo-50 bg-indigo-500 border-indigo-400 shadow-indigo-300;
    @apply hover:bg-indigo-600;
}

.btn-success {
    @apply text-teal-50 bg-teal-500 border-teal-400 shadow-teal-300;
    @apply hover:bg-teal-600;
}

.btn-ghost {
    @apply text-black bg-gray-50 shadow-none;
    @apply hover:bg-gray-200;
}

.card {
    @apply shadow-md shadow-indigo-100 bg-white;
    @apply hover:shadow-lg hover:shadow-indigo-100 hover:bg-gray-50;
}

.card-body {
    @apply p-4
}

.section {
    @apply mx-auto flex max-w-screen-sm md:max-w-screen-lg items-center px-4 sm:px-6 lg:px-8;
}

.card-image-container {
    @apply bg-gray-50 border rounded-md;
    @apply hover:border-indigo-200;
    @apply transition-all duration-200;
}

.box {
    @apply bg-white rounded-lg overflow-hidden;
}

.icon-checkbox {
    @apply w-6 h-6 m-1 p-1 bg-white flex justify-center items-center 
    rounded;
    @apply hover:bg-gray-100;
    @apply transition-all duration-75;
}

.icon-checkbox.active {
    @apply bg-indigo-100 text-indigo-600;
}

.header {
    @apply bg-white opacity-100 backdrop-blur-lg fixed w-full z-50;
}

.two-block {
    @apply bg-gray-200 grid grid-cols-2;
}

.block-child {
    @apply border;
}